.hero {
  background: linear-gradient(#fae1f0, #f1e6f5);
  max-width: 100%;
  position: relative;
  scroll-snap-align: start;
  .imageTop {
    position: absolute;
    display: flex;
    .imageLeft {
      position: absolute;
      top: 58px;
      left: 3.2vw;
      border-radius: 100%;
      height: 260px;
      box-shadow: 5px 6px#DCFF00;
    }
    .imageRight {
      position: absolute;
      left: 82vw;
      top: -21px;
      border-radius: 100%;
      height: 282px;
      box-shadow: 5px 6px#DCFF00;
    }
  }
  .imageBg {
    .imageBgLeft {
      position: absolute;
      top: 520px;
      left: 24px;
    }
    .imageBgRight {
      position: absolute;
      right: 0;
      top: 420px;
    }
  }
  .heroContent {
    padding: 50px 18.9vw 30px 18.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sloganTop {
      display: inline-block;
      padding: 13px 28px;
      background: #dcff00;
      border-radius: 15px;
      transform: rotate(-0.45deg);
      font-size: 23px;
      font-family: 'TT';
      font-weight: 600;
      margin-top: -20px;
    }
    h1 {
      margin-top: -25px;
      font-size: 70px;
      font-family: 'TT Black';
      color: #4c365a;
      text-align: center;
      line-height: 1.3;
      span:first-child {
        display: block;
        margin-left: 0;
        margin-bottom: -70px;
      }
      span:nth-child(3) {
        color: #7c2dae;
        display: block;
        margin-left: 80px;
        margin-bottom: -120px;
      }
      .titleWithGeo {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        white-space: nowrap;
        margin-left: -100px;

        > span:first-child {
          white-space: nowrap;
        }
      }
      .geoInline {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        color: #7c2dae;
        font-size: 21px;
        font-family: 'TT Black';
        margin-left: 30px;
        margin-top: 50px;
        span {
          line-height: 1.3;
        }
      }
    }
    .geo {
      display: flex;
      color: #7c2dae;
      font-size: 21px;
      gap: 23px;
      font-family: 'TT Black';
      position: relative;
      left: 440px;
      top: -175px;
    }
    .buttonsContainer {
      display: flex;
      flex-direction: row;
      gap: 40px;
      z-index: 10;
      position: relative;
      margin-top: 80px;
      .phoneButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 450px;
        height: 95px;
        background: #dcff00;
        border-radius: 50px;
        text-decoration: none;
        font-family: 'TT';
        font-size: 25px;
        color: #000;
        font-weight: 700;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.02);
        }
        span {
          display: flex;
          align-items: center;
        }
      }
      .infoButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 95px;
        background: transparent;
        border: 1px solid #0000004d;
        border-radius: 50px;
        text-decoration: none;
        font-family: 'TT';
        font-size: 25px;
        color: #000;
        font-weight: 700;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
  .WhiteBg {
    position: absolute;
    background: #fff;
    left: -10vw;
    width: 120vw;
    height: 800px;
    border-radius: 50%/175px;
    top: 820px;
  }
  .imageMain {
    position: relative;
    // animation: scaleP 2s ease;
    // animation-timeline: scroll(root block);
    z-index: 10;
    border-radius: 100%;
    height: 650px;
    width: 650px;
    box-shadow: 12px 12px #dcff00;
    img {
      width: 650px;
      height: 650px;
      object-fit: cover;
    }
  }
}
@media (max-width: 1280px) {
  .hero {
    .imageTop {
      .imageLeft {
        height: 200px;
        width: 200px;
        img {
          height: 200px;
          width: 200px;
        }
      }
      .imageRight {
        height: 210px;
        width: 210px;
        img {
          height: 210px;
          width: 210px;
        }
      }
    }
    .imageBg {
      .imageBgLeft {
        top: 460px;
        left: 24px;
        img {
          width: 330px;
          height: 300px;
        }
      }
      .imageBgRight {
        right: 0;
        top: 420px;
        img {
          width: 600px;
          height: 400px;
        }
      }
    }
    .heroContent {
      padding: 50px 20vw 25px 20vw;
      .sloganTop {
        font-size: 18px;
        margin-top: -20px;
      }
      h1 {
        margin-top: -10px;
        font-size: 45px;
        line-height: 1.2;
        text-align: center;
        span:first-child {
          margin-left: 0;
          margin-bottom: -50px;
        }
        span:nth-child(3) {
          margin-left: 0;
          margin-bottom: -80px;
        }
        .titleWithGeo {
          margin-left: 0;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          .geoInline {
            font-size: 18px;
            margin-left: 0;
            margin-top: 0;
            img {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
      .geo {
        font-size: 17px;
        gap: 17px;
        left: 280px;
        top: -105px;
      }
      .buttonsContainer {
        margin-top: 50px;
        .phoneButton,
        .infoButton {
          width: 350px;
          height: 80px;
          font-size: 18px;
        }
      }
    }
    .WhiteBg {
      left: -10vw;
      width: 120vw;
      height: 300px;
      top: 670px;
    }
    .imageMain {
      width: 400px;
      height: 400px;
      box-shadow: 10px 10px #dcff00;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    .imageTop {
      .imageLeft {
        display: none;
      }
      .imageRight {
        display: none;
      }
    }
    .imageBg {
      .imageBgLeft {
        top: 320px;
        left: 0px;
        img {
          width: 330px;
          height: 300px;
        }
      }
      .imageBgRight {
        right: 0;
        top: 320px;
        img {
          width: 600px;
          height: 400px;
        }
      }
    }
    .heroContent {
      padding: 30px 10vw 15px 10vw;
      .sloganTop {
        font-size: 16px;
        margin-top: -20px;
        padding: 10px 20px;
      }
      h1 {
        margin-top: -10px;
        font-size: 40px;
        line-height: 1.3;
        text-align: center;
        span:first-child {
          margin-left: 0;
          margin-bottom: 0;
        }
        span:nth-child(3) {
          margin-left: 0;
          margin-bottom: 0;
        }
        .titleWithGeo {
          margin-left: 0;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          .geoInline {
            font-size: 16px;
            margin-left: 0;
            margin-top: 0;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .geo {
        font-size: 14px;
        gap: 14px;
        left: 260px;
        top: -105px;
      }
      .buttonsContainer {
        margin-top: 40px;
        gap: 30px;
        .phoneButton,
        .infoButton {
          width: 300px;
          height: 70px;
          font-size: 16px;
        }
      }
    }
    .WhiteBg {
      left: -10vw;
      width: 120vw;
      height: 300px;
      top: 500px;
    }
    .imageMain {
      top: -30px;
      width: 300px;
      height: 300px;
      box-shadow: 8px 8px #dcff00;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
@media (max-width: 768px) {
  .hero {
    .heroContent {
      padding: 30px 5vw 15px 5vw;
      .sloganTop {
        font-size: 14px;
        margin-top: -15px;
        padding: 8px 16px;
      }
      h1 {
        margin-top: 5px;
        font-size: 32px;
        line-height: 1.3;
        text-align: center;
        span:first-child {
          margin-left: 0;
          margin-bottom: 0;
        }
        span:nth-child(3) {
          margin-left: 0;
          margin-bottom: 0;
        }
        .titleWithGeo {
          margin-left: 0;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          .geoInline {
            font-size: 14px;
            margin-left: 0;
            margin-top: 0;
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .buttonsContainer {
        margin-top: 40px;
        gap: 20px;
        .phoneButton,
        .infoButton {
          width: 280px;
          height: 65px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .hero {
    .imageBg {
      .imageBgLeft {
        top: 200px;
        left: -250px;
        img {
          width: 330px;
          height: 300px;
        }
      }
      .imageBgRight {
        right: -540px;
        top: 60px;
        img {
          width: 600px;
          height: 400px;
        }
      }
    }
    .heroContent {
      padding: 20px 15px 15px 15px;
      .sloganTop {
        width: 90%;
        font-size: 12px;
        text-align: center;
        padding: 8px 12px;
        transform: rotate(0deg);
        margin-top: -10px;
      }
      h1 {
        margin-top: 10px;
        font-size: 24px;
        line-height: 1.3;
        span:first-child {
          margin-left: 0;
          margin-bottom: 0;
        }
        span:nth-child(3) {
          margin-left: 0;
          margin-bottom: 0;
        }
        .titleWithGeo {
          margin-left: 0;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          .geoInline {
            font-size: 12px;
            margin-left: 0;
            margin-top: 0;
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .geo {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        gap: 14px;
        left: 0;
        top: 36px;
      }
      .buttonsContainer {
        margin-top: 40px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .phoneButton,
        .infoButton {
          width: 100%;
          max-width: 320px;
          height: 60px;
          font-size: 14px;
          border-radius: 30px;
        }
        .phoneButton {
          gap: 8px;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    .WhiteBg {
      display: none;
    }
    .imageMain {
      top: 50px;
      width: 90vw;
      height: 90vw;
      box-shadow: 6px 6px #dcff00;
      img {
        width: 90vw;
        height: 90vw;
      }
    }
  }
}
@keyframes scaleP {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
