.hero {
    background: linear-gradient(#FAE1F0, #F1E6F5);
    .imageTop {
        position: absolute;
        display: flex;
        .imageLeft {
            position: absolute;
            top: 58px;
            left: 3.2vw;
            border-radius: 100%;
            height: 260px;
            box-shadow: 5px 6px#DCFF00;
        }
        .imageRight {
            position: absolute;
            left: 83vw;
            top: -21px;
            border-radius: 100%;
            height: 260px;
            box-shadow: 5px 6px#DCFF00;
        }
    }
    .imageBg {
        .imageBgLeft {
            position: absolute;
            top: 500px;
            left: 24px;
        }
        .imageBgRight {
            position: absolute;
            right: 0;
            top: 420px
        }
    }
    .heroContent {
        padding: 50px 18.9vw;
        .sloganTop {
            display: inline-block;
            padding: 13px 28px;
            background: #DCFF00;
            border-radius: 15px;
            transform: rotate(-0.45deg);
            font-size: 23px;
            font-family: "TT";
            font-weight: 600;
        }
        h1 {
            font-size: 70px;
            font-family: "TT Black";
            color: #4C365A;
        }
    }
    .WhiteBg {
        position: absolute;
        background: #fff;
        left: -10vw;
        width: 120vw;
        height: 800px;
        border-radius: 50%/175px;
        top: 820px;
    }
}