.questions {
    position: relative;
    padding: 50px 17vw;
    .iconBg {
            position: absolute;
            top: -30%;
            right: 0;
        }
    .questionTitle {
        text-align: center;
        font-family: "TT Black";
        font-size: 45px;
        color: #4c365a;
        span {
            color: #7C2DAE;
        }
    }
            .questionsAcordion {
            margin-top: 44px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            .questionContainer {
                padding: 23px 0;
                padding-left: 36px;
                padding-right: 19px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #DCFF00;
                border-radius: 15px;
                cursor: pointer;
                .questionText {
                    .question {
                        font-size: 23px;
                    }
                    .questionAnswer {
                        display: none;
                        margin-top: 10px;
                        &.questionAnswerOpen {
                            display: block;
                        }
                        p {
                            margin: 0 0 0.75em 0;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .accordionIcon {
                    flex-shrink: 0;
                    display: inline-flex;
                }
            }
        }
}
@media (max-width: 1280px) {
    .questions {
    padding: 50px 10vw;
        .iconBg {
            top: 0;
            right: 0;
            width: 120px;
            height: 320px;
        }
    .questionTitle {
        font-size: 30px;
    }
            .questionsAcordion {
            .questionContainer {
                .questionText {
                    .question {
                        font-size: 20px;
                    }
                }
                .accordionIcon {
                    flex-shrink: 0;
                }
            }
        }
}
}
@media (max-width: 480px) {
    .questions {
        padding: 50px 21px;
        .iconBg {
            top: 120%;
            right: 0;
            width: 70px;
            height: 200px;
            z-index: 10;
        }
        .questionTitle {
            font-size: 23px;
        }
            .questionsAcordion {
                gap: 25px;
            .questionContainer {
                .questionText {
                    .question {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}