@font-face {
  font-family: "TT";
  src: url('../../fonts/TT\ Travels\ Next\ Trial\ Regular.ttf');
}
@font-face {
  font-family: "TT Black";
  src: url('../../fonts/TT\ Travels\ Next\ Trial\ Black.ttf');
}
@font-face {
  font-family: "TT 600";
  src: url('../../fonts/TT\ Travels\ Next\ Trial\ Light.ttf');
}
@font-face {
  font-family: "TT 700";
  src: url('../../fonts/TT\ Travels\ Next\ Trial\ DemiBold.ttf');
}
* {
  margin: 0px;
  padding: 0px;
}
html, body {
  max-width: 100%;
  box-sizing: border-box;
  font-family: "TT";
  overflow-x: hidden;
}
