.wrapper {
  z-index: 1;
  position: relative;
  margin-bottom: 100px;
  @media (max-width: 1024px) {
    margin-bottom: 50px
  }
   @media (max-width: 768px) {
    margin-bottom: 30px
  }
  @media (max-width: 440px) {
    margin-bottom: 10px;
  }
}

.prices {
  z-index: 999 !important;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  font-family: 'TT';
}

.title {
  text-align: center;
  font-family: 'TT Black' !important;
  font-size: 45px;
  font-weight: 900;
  padding: 32px 8px 32px 8px;
  color: #4c365a;
  span {
    color: #9117ba;
  }
}

.grid {
  display: grid;
  grid-template-columns: 300px 450px 225px 225px;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(180deg, #f1e6f5 0%, #fae1f0 100%);
  width: fit-content;
  margin: 0 auto;
  height: 700px;
  max-width: 100%;
  box-sizing: border-box;
}
.cell {
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'TT';
}

/* убираем правую границу у последней колонки */
.cell:nth-child(4n) {
  border-right: none;
}

.head {
  background: #dcff00;
  font-size: 19px;
  font-weight: 600;
  font-family: 'TT 600';
}

.ticket {
  flex-direction: column;
  gap: 6px;
  font-size: 17px;
  font-family: 'TT';
  color: #4c365a;
  background: linear-gradient(
    82deg,
    rgba(250, 225, 240, 0.5) -36.99%,
    rgba(241, 230, 245, 0.5) 102.59%
  );
}

.ticket small {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
  font-family: 'TT';
}

.ticketBig {
  grid-row: span 3;
  font-size: 17px;
  font-weight: 500;
  background: linear-gradient(
    82deg,
    rgba(250, 225, 240, 0.5) -36.99%,
    rgba(241, 230, 245, 0.5) 102.59%
  );
}

.time {
  font-size: 22px;
  font-weight: 800 !important;
  font-family: 'TT Black';
  color: #4c365a;
  background: linear-gradient(
    82deg,
    rgba(250, 225, 240, 0.5) -36.99%,
    rgba(241, 230, 245, 0.5) 102.59%
  );
}

.price {
  background: #9117ba;
  color: #fff;
  font-size: 22px;
  font-family: 'TT 800' !important;
}

.freeWide {
  border-right: none;

  grid-column: span 2;
  background: #9117ba;
  color: #fff;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  font-family: 'TT Black';
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .spin {
    display: none;
  }
  .grid {
    grid-template-columns: 200px 200px 180px 180px;
    max-width: calc(100% - 40px);
    width: 100%;
  }
  .prices {
    padding: 20px;
  }
  .cell {
    padding: 15px 10px;
    font-size: 13px;
  }
  .head {
    font-size: 16px;
  }
  .ticket {
    font-size: 15px;
    small {
      font-size: 12px;
    }
  }
  .ticketBig {
    font-size: 15px;
  }
  .time {
    font-size: 18px;
  }
  .price {
    font-size: 18px;
  }
  .freeWide {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .prices {
    padding: 24px 16px;
  }

  .title {
    text-align: center;
    font-family: 'TT Black' !important;
    font-size: 22px;
    color: #4c365a;
    span {
      color: #9117ba;
    }
  }

  .block {
    margin-bottom: 32px;
  }

  .blockTitle {
    text-align: center;
    font-size: 15px;
    font-family: 'TT 500';
    padding: 16px 16px;
    small {
      font-size: 12px;
      font-family: 'TT';
    }
  }

  .table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-radius: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #f1e6f5 0%, #fae1f0 100%);
    width: 100%;
  }

  .table > div {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table > div:nth-child(3n) {
    border-right: none;
  }

  .head {
    background: #dcff00;
    font-weight: 600;
    font-size: 12px;
    padding: 12px;
    text-align: center;
    font-family: 'TT';
  }

  .time {
    background: linear-gradient(
      82deg,
      rgba(250, 225, 240, 0.5) -36.99%,
      rgba(241, 230, 245, 0.5) 102.59%
    );
    padding: 13px 8px;
    font-size: 13px;
    text-align: center;
    font-family: 'TT 800';
    color: #4c365a;
    font-weight: 800 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  .price {
    background: #9117ba;
    color: #fff;
    font-size: 14px;
    padding: 14px;
    text-align: center;
    font-family: 'TT Black';
    font-weight: 800 !important;
  }

  .ticket {
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    font-family: 'TT';
    color: #4c365a;
    background: linear-gradient(
      82deg,
      rgba(250, 225, 240, 0.5) -36.99%,
      rgba(241, 230, 245, 0.5) 102.59%
    );
    text-align: center;
  }

  .ticket small {
    font-size: 14px;
    opacity: 0.7;
    font-weight: 400;
    font-family: 'TT';
  }

  .ticketBig {
    grid-row: span 3;
    font-weight: 500;
    font-family: 'TT';
    background: linear-gradient(
      82deg,
      rgba(250, 225, 240, 0.5) -36.99%,
      rgba(241, 230, 245, 0.5) 102.59%
    );
  }

  .freeWide {
    font-size: 13px;
    font-family: 'TT Black';
    background: #9117ba;
    color: #fff;
    font-weight: 800;
    text-align: center;
  }
}

.spin {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-40%);
  z-index: -1;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media (max-width: 768px) {
  .spin {
    display: none;
  }
}

.WhiteBg2 {
  background: #ffffff;
  border-radius: 50% / 175px;
  width: 175vw;
  height: 800px;
  position: absolute;
  top: -30px;
  left: -36.5vw;
  z-index: -2;
}

.prices {
  @media (max-width: 450px) {
    padding: 20px 0px;
  }
}
