.info {
  position: relative;
  z-index: 1;
  padding: 50px 17vw;
  .bgIcon {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: -1;
  }
  .fireIcone {
    position: absolute;
    z-index: 10;
    top: 5%;
    left: 50%;
    svg {
      .svgAnim {
        animation: rotate 15s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
      }
    }
  }
  .swiperButtonPrev {
    position: relative !important;
    top: 350px;
    left: -2%;
    z-index: 10;
    cursor: pointer;
  }
  .swiperButtonNext {
    position: relative !important;
    top: 285px;
    left: 97%;
    z-index: 10;
    cursor: pointer;
  }
  .infoTitle {
    font-size: 45px;
    line-height: 1.46;
    letter-spacing: 3%;
    font-family: "TT Black";
    color: #4c365a;
    span {
      display: block;
    }
    span:first-child {
      padding-left: 50px;
    }
    span:nth-child(3) {
      padding-left: 120px;
    }
    span:nth-child(n + 3) {
      color: #7c2dae;
    }
  }
  .infoDescrition {
    font-size: 22px;
    line-height: 33px;
    width: 60%;
    margin-top: 30px;
  }
  .swiperGalary {
    margin-top: -70px;
    display: flex;
    .swiperSlide {
      width: 100%;
      img {
        object-fit: contain;
        width: 100%;
        border-radius: 50px;
      }
    }
    .swiperDescription {
      text-align: center;
      margin: 0 auto;
      margin-top: -65px;
      background: #dcff00;
      border-radius: 15px;
      transform: rotate(-0.84deg);
      padding: 20px 36px;
      width: 550px;
      span {
        display: block;
        font-family: "TT 700";
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}
@media (max-width: 1280px) {
  .info {
    padding: 50px 10vw;
    .bgIcon {
      left: 0;
      top: 20%;
      width: 170px !important;
      height: 400px !important;
    }
    .fireIcone {
      top: -5%;
      left: 44%;
    }
    .swiperButtonPrev {
      top: 350px;
      left: -2%;
    }
    .swiperButtonNext {
      top: 285px;
      left: 97%;
    }
    .infoTitle {
      font-size: 30px;
      line-height: 1.46;
      letter-spacing: 3%;
      span:first-child {
        padding-left: 50px;
      }
      span:nth-child(3) {
        padding-left: 120px;
      }
    }
    .infoDescrition {
      font-size: 16px;
      line-height: 33px;
      width: 60%;
      margin-top: 30px;
    }
    .swiperGalary {
      margin-top: -70px;
      .swiperSlide {
      }
      .swiperDescription {
        margin-top: -65px;
        padding: 20px 36px;
        width: 415px;
        span {
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .info {
    padding: 50px 5vw;
    .bgIcon {
      left: -5%;
      top: 30%;
      width: 170px !important;
      height: 300px !important;
    }
    .fireIcone {
      top: 8%;
      left: 52%;
      svg {
        width: 520px;
        height: 520px;
      }
    }
    .swiperButtonPrev {
      top: 250px;
      left: -2%;
    }
    .swiperButtonNext {
      top: 185px;
      left: 97%;
    }
    .infoTitle {
      font-size: 30px;
      line-height: 1.46;
      letter-spacing: 3%;
      span:first-child {
        padding-left: 50px;
      }
      span:nth-child(3) {
        padding-left: 120px;
      }
    }
    .infoDescrition {
      font-size: 16px;
      line-height: 33px;
      width: 60%;
      margin-top: 30px;
    }
    .swiperGalary {
      margin-top: -100px;
      .swiperSlide {
        img {
          height: 450px;
        }
      }
      .swiperDescription {
        margin-top: -65px;
        padding: 20px 36px;
        width: 300px;
        span {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  .info {
    padding: 50px 5vw;
    .fireIcone {
      top: 20%;
      left: 42%;
      svg {
        width: 520px;
        height: 520px;
      }
    }
  }
}
@media (max-width: 480px) {
  .info {
    padding: 100px 15px;
    padding-bottom: 0;
    .bgIcon {
      top: 40%;
      width: 170px !important;
      height: 300px !important;
    }
    .fireIcone {
      top: 37%;
      left: 2%;
      width: 220px;
      height: 220px;
      svg {
        width: 400px;
        height: 400px;
      }
    }
    .swiperButtonPrev {
      display: none;
    }
    .swiperButtonNext {
      display: none;
    }
    .infoTitle {
      font-size: 23px;
      line-height: 1.46;
      letter-spacing: 3%;
      span {
        display: inline-block;
      }
      span:first-child {
        padding-left: 0px;
        text-align: center;
      }
      span:nth-child(2) {
        padding-left: 0px;
        text-align: center;
      }
      span:nth-child(3) {
        padding-left: 0px;
        text-align: center;
      }
      span:nth-child(4) {
        padding-left: 0px;
        text-align: center;
      }
      span:last-child {
        text-align: center;
      }
    }
    .infoDescrition {
      font-size: 14px;
      line-height: 21px;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .swiperGalary {
      width: 100%;
      margin-top: 110px;
      .swiperSlide {
        width: 100%;
        img {
          width: 100%;
          object-fit: contain;
          height: 270px;
          border-radius: 30px;
        }
      }
      .swiperDescription {
        margin-top: -50px;
        padding: 20px 36px;
        width: 220px;
        span {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .fireIcone {
    top: 45% !important;
    left: 9% !important;
    width: 220px;
    height: 220px;
    svg {
      width: 320px !important;
      height: 320px !important;
    }
  }
  .swiperGalary {
    margin-top: 50px !important;
  }
}

@media (max-width: 380px) {
  .fireIcone {
    top: 47% !important;
    left: 5% !important;
    width: 220px;
    height: 220px;
    svg {
      width: 320px !important;
      height: 320px !important;
    }
  }
  .swiperGalary {
    margin-top: 50px !important;
  }
}

@media (max-width: 350px) {
  .fireIcone {
    top: 50% !important;
    left: 5% !important;
    width: 220px;
    height: 220px;
    svg {
      width: 320px !important;
      height: 320px !important;
    }
  }
  .swiperGalary {
    margin-top: 50px !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
